<!DOCTYPE html>
<html>
<head>
  <title>User Signup</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">

  <style>
    form {
      display: block;
      width: 250px;
      margin: 50px auto;
      box-sizing: border-box;
    }

    h2 {
      margin-left: 50px;
      margin-bottom: 50px;
      color: #6ba3ff;
      font-family: 'Roboto', sans-serif;
    }

    input {
      display: block;
      width: 150px;
      margin: 10px auto;
      padding: 5px;
      border: none;
      border-bottom: 1px solid black;
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      box-sizing: border-box;
    }

    input[type='submit'] {
      display: block;
      margin-top: 20px;
      margin-left: 50px;
      margin-bottom: 20px;
      padding: 5px;
      width: 75px;
      font-size: 18px;
      border-radius: 3px;
      border: none;
      font-family: 'Open Sans', sans-serif;
      color: white;
      background-color: #6ba3ff;
    }
  </style>
</head>
<body>

  {% block content %}
  {% endblock %}

</body>
</html>
