{% extends 'index.html' %}

{% block content %}

<form method='post'>
  <h2>Signup</h2>
  <label>{{error}}</label>
  <input type='text' name='username' placeholder='Username' value='{{username}}' autofocus required>
  <input type='password' name='password' placeholder='Password' value='{{password}}' required>
  <input type='password' name='verify' placeholder='Confirm Password' value='{{verify}}' required>
  <input type='text' name='email' placeholder='Email' value='{{email}}'>
  <input type='submit' name='submit' placeholder='Signup'>
</form>

{% endblock %}
